@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--foreground);
	background: var(--background);
	background-color: #ff5722;
	font-family: 'Maison Neue', 'Helvetica Neue LT', Helvetica, sans-serif;
	/* Fallback fonts in case custom fonts don't load immediately */
	min-height: 80vh;
	height: 80vh;
	min-width: 100vw;
	width: 100vw;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	min-height: 80vh;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/Maison_Neue_Bold.ttf') format('truetype');
	font-weight: 700; /* Bold */
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/Maison_Neue_Book.ttf') format('truetype');
	font-weight: 400; /* Regular */
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/Maison_Neue_Light.ttf') format('truetype');
	font-weight: 300; /* Light */
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue LT';
	src: url('../fonts/Helvetica_Neue_LT.ttf') format('truetype');
	font-weight: normal;
	font-display: swap;
}
